.container
  position: absolute
  bottom: 29px
  max-height: 130px
  width: 225px
  padding: 8px 8px
  box-sizing: border-box
  overflow-y: auto
  background: #181818
  border: 1px solid hsla(0,0%,100%,.1)
  border-radius: 5px
  z-index: 1
  &::-webkit-scrollbar-track
    background-color: #181818
  &::-webkit-scrollbar
    width: 7px
    background-color: #181818
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgb(163, 162, 162, 0.53)

.emoji
  display: inline-block
  background: url('../../../../img/emoji_sheet.png')
  width: 16px
  height: 16px
  margin: 1px 2px
  pointer-events: auto
  cursor: pointer