.container
  height: 250px
  width: 300px
  padding: 35px 0
  background: #181818
  display: flex
  align-items: center
  flex-direction: column
  justify-content: space-around
  font-size: 13px
  input
    height: 22px
    padding: 4px
    border: 0
    outline: 0
    border-radius: 2px
  h2
    margin: 0

.button
  width: 177px
  height: 30px
  text-align: center
  line-height: 30px
  background: #ffdb4d
  border-color: rgba(191,153,0,.8)
  color: black
  cursor: pointer
  border-radius: 2px
  transition-duration: .2s;
  &:hover
    background: #ECC948

.choose
  margin-top: 10px
  cursor: pointer
  &:hover
    color: #FF6557
