.container
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: 15px
  width: 600px
  height: 100%
  box-sizing: border-box
  background: #181818
  border: 1px solid
  border-color: hsla(0,0%,100%,0.15)
  border-radius: 10px
  font-size: 13px
  h2
   margin: 0

.room
  padding: 10px
  border-bottom: 1px solid
  cursor: pointer
  user-select: none
  &:hover
    border-color: #ffdb4d

@media (max-width: 660px)
  .container
    width: 100%
