.container
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 600px
  height: 100%
  position: relative
  box-sizing: border-box
  background: #181818
  border: 1px solid
  border-color: hsla(0,0%,100%,0.15)
  border-radius: 10px
  font-size: 13px
  h2, h3
   margin: 0

.header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 15px
  border-bottom: 1px solid #ffdb4d

.plus
  font-size: 30px
  cursor: pointer
  &:hover
    color: #ffdb4d

.rooms
  padding: 15px
  .room
    &:first-child
      margin-top: 0

.room
  margin-top: 10px
  padding: 10px
  border-bottom: 1px solid
  cursor: pointer
  user-select: none
  &:hover
    border-color: #FF6557

@media (max-width: 660px)
  .container
    width: 100%
