.container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 15px
  border-bottom: 1px solid #ffdb4d
  position: relative
  flex-shrink: 0
  font-size: 13px

.left_part
  h2
    margin: 0

.typing
  font-size: 13px
  display: flex

.typping_names
  max-width: 200px
  max-height: 16px
  overflow: hidden
  display: inline-block
  text-overflow: ellipsis
  white-space: nowrap
  margin-right: 5px
