.container
  max-height: 220px
  padding: 15px
  border-top: 1px solid #ffdb4d
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: space-between
  flex-shrink: 0

.input_wrapper
  width: 100%
  display: flex
  position: relative

.input
  font-size: 13px
  line-height: 17px
  display: inline-block
  width: 495px
  max-height: 108px
  min-height: 16px
  border: 1px solid hsla(0,0%,100%,.1)
  border-radius: 5px
  outline: 0
  padding: 10px 40px 10px 10px
  box-sizing: border-box
  overflow-y: scroll
  &::-webkit-scrollbar-track
    background-color: #181818
  &::-webkit-scrollbar
    width: 7px
    background-color: #181818
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgb(163, 162, 162, 0.53)

.post
  display: inline-block
  width: 30px
  height: 30px
  margin-left: 10px
  margin-top: 3px
  background: url("../../../img/post.svg") no-repeat
  background-size: contain
  cursor: pointer
  flex-shrink: 0

.emoji_wrapper
  position: absolute
  bottom: 12px
  right: 12px
  user-select: none

.emoji_picker
  width: 22px
  height: 22px
  background: url("../../../img/emoji.svg") no-repeat
  background-size: contain
  cursor: pointer
  flex-shrink: 0

.emoji_input
  background: url('../../../img/emoji_sheet.png')
  display:inline-block
  width: 16px
  height: 16px
  vertical-align: -4px
  margin: 0 1px 0 1px
  pointer-events: none

@media (max-width: 660px)
  .input
    width: 100%

