.container
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-end
  height: 100px
  padding-right: 20px
  padding-left: 10px
  margin-top: 10px

.input
  min-height: 20px
  width: 485px
  border: 1px solid #ffdb4d
  border-radius: 5px
  outline: 0
  padding: 10px

.post
  width: 40px
  height: 40px
  background: url("../../../img/post.svg") no-repeat
  cursor: pointer