.container
  height: 100%
  overflow-y: scroll
  padding: 0 7px 0 15px
  &::-webkit-scrollbar-track
    background-color: #181818
  &::-webkit-scrollbar
    width: 7px
    background-color: #181818
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgb(163, 162, 162, 0.53)
  div
    &:last-child
      margin-bottom: 10px

.day
  text-align: center
  font-size: 12px
  background: #0f0f0f
  padding: 5px 13px
  display: table
  margin: 0 auto
  border-radius: 10px
  opacity: 0.6
  margin-top: 10px
  margin-bottom: 10px