.container
  height: 700px
  overflow: overlay
  padding: 0 15px 0 15px
  &::-webkit-scrollbar-track
    background-color: #181818
  &::-webkit-scrollbar
    width: 7px
    background-color: #181818
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgb(163, 162, 162, 0.53)

.message
  display: table
  width: auto
  min-width: 120px
  min-height: 30px
  position: relative
  margin-left: auto
  border: 1px solid
  margin-bottom: 10px
  padding: 10px
  border-color: rgba(255,255,255,0.10)
  border-radius: 5px
  p
    margin: 2px 0 0 0
    padding-right: 30px
    max-width: 520px
    overflow: hidden
    text-overflow: ellipsis
  .username
    font-weight: 600
    color: #ECC948

.own_message
  margin-left: 0
  .username
    color: #35a14b

.date
  position: absolute
  right: 4px
  bottom: 4px
  font-size: 11px