.container
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 5px 15px
  border-bottom: 1px solid #ffdb4d
  position: relative
  flex-shrink: 0

.left_part
  h2
    margin: 0

.info
  font-size: 13px
  cursor: pointer
  user-select: none
  display: inline-block

.list
  height: 18px
  font-size: 13px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: flex-start
  max-width: 400px
  overflow: hidden
  cursor: pointer
  div
    margin: 1px 1px

.typing
  font-size: 13px
  display: flex

.typping_names
  max-width: 200px
  max-height: 16px
  overflow: hidden
  display: inline-block
  text-overflow: ellipsis
  white-space: nowrap
  margin-right: 5px